html{
  scroll-behavior: smooth;
}

body{
  background-color: #1a1a1a;
  margin: 0;
}

.home-head{
  height: 90vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#tsparticles canvas{
  position: absolute;
  top: 0;
  height: 100vh;
}
