.contact-container{
    min-height: 100vh;
    box-sizing: border-box;
}

.contact{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-title h2{
    font-weight: 600px;
    color: rgb(129, 32, 28);
    font-size: 60px;
}

.contact-title hr{
    border: none;
    background-color: rgb(129, 32, 28);
    height: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    box-sizing: border-box;
}

.contact textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 2px solid  rgb(129, 32, 28);
}

.contact-inputs::placeholder{
    color:  rgb(129, 32, 28);
}

.contact button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 15px;
    color:  rgb(129, 32, 28);
    gap: 10px;
    border: none;
    border-radius:50px;
    cursor: pointer;
}

