.contact-container{
    min-height: 100vh;
    box-sizing: border-box;
}

.contact{
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-title h2{
    font-weight: 600px;
    color: rgb(129, 32, 28);
    font-size: 60px;
}

.contact-title hr{
    border: none;
    background-color: rgb(129, 32, 28);
    height: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.contact-inputs{
    width: 27rem;
    height: 2.5rem;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
    box-sizing: border-box;
}

.contact textarea{
    height: 8.75rem;
    padding-top: 1rem;
    border-radius: 20px;
}

.contact-inputs:focus{
    border: 0.125rem solid  rgb(129, 32, 28);
}

.contact-inputs::placeholder{
    color:  rgb(129, 32, 28);
}

.contact button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 1rem;
    color:  rgb(129, 32, 28);
    gap: 0.625rem;
    border: none;
    border-radius:50px;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: center;
}


@media (max-width: 640px) {
    .contact-title h2{
        font-size: 2.75rem;
        margin-top: 100px;
    }

    .contact-container{
        min-height: 80vh;
    }

    .contact button{
        width: 55%;
        text-align: center;
    }

    .contact-inputs{
        width: 80%;
    }


}