.logo-container img{
    width: 45px;
    margin: 10px;
    padding-top: 20px;
    text-align: center;
}

.logo-container img:hover{
    scale: 1.09;
}

.footer-container{
    background-color: #282828;
    margin: auto;
    justify-content: center;
    width: 100%;
}

.logo-container{
    display: flex;
    justify-content: center;
}

.logo-container button{
    border-radius: 12px;
    border-color: green;
    background-color: #282828;
    height: 3%;
    color: white;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}


.footer-container p{
    color: white;
    text-align: center;
    margin: 0;
    padding: 10px;
}