.container{
    display: flex;
    flex-direction: row;
    margin: 20px auto;
    justify-content: space-evenly;
    padding: 29px;
    background-color: rgb(0, 0, 0);
    width: 75%;
    border-radius: 12px;
    position: sticky;
    top: 0;
}

.item a{
    color: rgb(207, 48, 197);
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.item a:hover{
    text-decoration: underline;
}