.container{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    background-color: #262626;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.item a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.item a:hover{
    text-decoration: underline;
}