.home-container h2{
    color: white;
    font-weight: bold;
    font-size: 250%;
    z-index: 100;
}

.home-container{
    margin:  auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12.5%;
    z-index: 100;
}

.scroll-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(129, 32, 28);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.scroll-btn:hover {
  background-color: #933b30;
}

@media (max-width: 600px) {
    .home-container {
        padding-top: 42%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .home-container h2 {
        font-size: 150%; 
        line-height: 1.2; 
    }
}

