.home-container h2{
    color: white;
    font-weight: bold;
    font-size: 200%;

}

.home-container{
    margin:  8.5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

