.projectItem p{
    color: white;
    max-width: 50rem;
    text-align: center;
}

.projectItem img{
    width: 50rem;
    border: 5px solid rgb(129, 32, 28);
    transition: transform .5s;
}

.projectItem img:hover{
    transform: scale(0.97);
}

.projectItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projectItem h3{
    color: rgb(129, 32, 28);
    max-width: 50rem;
    text-align: center;
    font-size: 35px;
}
