.projectItem p{
    color: white;
}

.projectItem img{
    width: 40%;
}

.projectItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
}